 .box {
        background: lightblue;
        border: 1px solid #333;
        padding: 1em;
        margin: 1em;
      }
      
      .root { background: lightblue; }
      
      .child {
        background: #628692;
      }
      
      button {
          margin-top: 30px;
      }
      
      efecte div {
        padding : 25px;
        background-color: #fd8d8d;
      }
      
      M10_animacions.component {
        background-color: #d6e22b;
        width: 100%;
        display: block;
        overflow: hidden;        
      }
      